In [31]:
import requests
from bs4 import BeautifulSoup # BeautifulSoup is in bs4 package 
import pandas as pd
from tqdm import tqdm
import json

In [106]:
# API discription
url = 'https://www.findandtrace.com/trace-mobile-number-location?mobilenumber={}&submit={}'

# use mobile phone number have 10 digits
mobile_number = '9425820438'
submit = 'Trace'

In [107]:
df_phone_num = pd.read_csv('data_test.csv').sample(1000)

In [108]:
phone_num_list = df_phone_num.phone_number.to_list()

In [109]:
phone_num_list = list(set([str(phone_num_)[2:] for phone_num_ in phone_num_list]))

In [112]:
df_result = pd.DataFrame()
li = []
for phone_num in tqdm(phone_num_list):
    page = requests.get(url=url.format(phone_num,submit))
    html = page.content.decode("utf-8")
    soup = BeautifulSoup(html, 'html.parser')
    tables = soup.find_all('table',{'class':'shop_table'})
    try:
        phone_num_ = tables[0].find_all('td')[0].text
    except:
        phone_num_ = phone_num
    try:
        telecoms_circle_state = tables[0].find_all('td')[1].text
    except:
        telecoms_circle_state = 'not_found'
    try:
        sim_card_distributed_at = tables[1].find_all('td')[0].text
    except:
        sim_card_distributed_at = 'not_found'

    resp = {
        'phone_num':phone_num_,
        'telecoms_circle_state':telecoms_circle_state,
        'sim_card_distributed_at':sim_card_distributed_at
    }

    li.append(resp)

    if len(li) == 100:
        df_ = pd.DataFrame.from_records(li)
        df_result = pd.concat([df_result,df_], axis=0)
        del(li)
        del(df_)
        li = []

100%|██████████| 1000/1000 [37:22<00:00,  2.24s/it]

In [117]:
df_result.to_csv('./results.csv', index=False)

In [168]:
url_2 = "https://mobilenumbertracker.com/mobilenumberlocation/{}"

In [192]:
page = requests.get(url=url_2.format('9893'))
html = page.content.decode("utf-8")
soup = BeautifulSoup(html, 'html.parser')

In [193]:
props = soup.find_all('script',{'id':"__NEXT_DATA__"})[0].text

In [194]:
json_object = json.loads(props)

In [195]:
state = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('State','not_found')
service_provider = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('ServiceProvider','not_found')
city = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('City','not_found')
latitude = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('latitude','not_found')
longitude = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('longitude','not_found')

In [196]:
state

'Madhya Pradesh & Chhattisgarh'

In [188]:
json_object

{'props': {'pageProps': {'match': {'Code': 9303,
    'State': 'Madhya Pradesh & Chhattisgarh',
    'ServiceProvider': '',
    'City': 'Bhopal',
    'latitude': 23.257309,
    'longitude': 77.402218},
   'similar': [9300, 9301, 9302, 9303, 9304, 9305, 9306]},
  '__N_SSG': True},
 'page': '/MobileNumberLocation/[number]',
 'query': {'number': '9303'},
 'buildId': 'x5XgJmjs7plqG9X1WTE_s',
 'runtimeConfig': {},
 'isFallback': False,
 'gsp': True}

In [165]:
for i in child_p:
    if('State' in i):
        print(i)

In [ ]:
df_result = pd.DataFrame()
li = []
for phone_num in tqdm(phone_num_list):
    page = requests.get(url=url_2.format(phone_num))
    html = page.content.decode("utf-8")
    soup = BeautifulSoup(html, 'html.parser')
    tables = soup.find_all('table',{'class':'shop_table'})
    try:
        phone_num_ = tables[0].find_all('td')[0].text
    except:
        phone_num_ = phone_num
    try:
        telecoms_circle_state = tables[0].find_all('td')[1].text
    except:
        telecoms_circle_state = 'not_found'
    try:
        sim_card_distributed_at = tables[1].find_all('td')[0].text
    except:
        sim_card_distributed_at = 'not_found'

    resp = {
        'phone_num':phone_num_,
        'telecoms_circle_state':telecoms_circle_state,
        'sim_card_distributed_at':sim_card_distributed_at
    }

    li.append(resp)

    if len(li) == 100:
        df_ = pd.DataFrame.from_records(li)
        df_result = pd.concat([df_result,df_], axis=0)
        del(li)
        del(df_)
        li = []

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data_addition_ao_3_may_validate.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198011 entries, 0 to 198010
Data columns (total 8 columns):
 #   Column                                                   Non-Null Count   Dtype
---  ------                                                   --------------   -----
 0   9416212499                                               198011 non-null  int64
 1   Haryana                                                  198011 non-null  object
 2   Faridabad / Rohtak / Panipat / Hisar / Sonipat / Karnal  198003 non-null  object
 3   Haryana.1                                                198011 non-null  object
 4   BSNL Mobile                                              198011 non-null  object
 5   Chandigarh                                               198011 non-null  object
 6   30.731345                                                198011 non-null  object
 7   76.775385                                                198011 non-null  object
dtypes: int64(1), object(7)
memory usage: 12.1+ MB

In [5]:
cols = ['source_1_telecoms_circle_state',
       'source_1_sim_card_distributed_at', 'source_2_state',
       'source_2_service_provider', 'source_2_city', 'source_2_latitude',
       'source_2_longitude']

In [19]:
count_ = 0

In [20]:
for i, row in tqdm(df_res.iterrows()):
    if list(row[cols].values)==list(pd.Series(['not_found']*len(cols), index=cols).values):
        count_ = count_ + 1

1047414it [03:47, 4604.68it/s]

In [11]:
df[cols] ==['not_found']*len(cols)

,source_1_telecoms_circle_state,source_1_sim_card_distributed_at,source_2_state,source_2_service_provider,source_2_city,source_2_latitude,source_2_longitude
0,True,True,False,False,True,False,False
1,True,True,False,True,True,False,False
2,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
199990,False,False,False,False,True,False,False
199991,False,False,False,False,False,False,False
199992,True,True,True,True,True,True,True
199993,True,True,False,False,False,False,False
199994,True,True,False,False,False,False,False

In [8]:
df.columns

Index(['phone_num', 'source_1_telecoms_circle_state',
       'source_1_sim_card_distributed_at', 'source_2_state',
       'source_2_service_provider', 'source_2_city', 'source_2_latitude',
       'source_2_longitude'],
      dtype='object')

In [7]:
df.source_1_telecoms_circle_state.value_counts()

Haryana                              49216
not_found                            41355
Rajasthan                            24341
Uttar Pradesh (W) And Uttarakhand    14924
Delhi                                14041
Uttar Pradesh (E)                    10462
Madhya Pradesh And Chhatisgarh        8921
Punjab                                7873
Maharashtra                           5625
Bihar And Jharkhand                   4432
Mumbai                                4068
Gujarat                               3726
Himachal Pradesh                      2110
Jammu And Kashmir                     2087
Karnataka                             1196
Andhra Pradesh                        1058
Tamilnadu                              746
West Bengal                            729
North East                             683
Chennai                                642
Orissa                                 563
Assam                                  497
Kolkata                                346
Kerala                                 340
Andhra Pradesh And Telengana            14
Name: source_1_telecoms_circle_state, dtype: int64

In [205]:
df_contact = pd.read_csv('./contacts.csv', low_memory=False).loc[:199999]

In [206]:
df_contact

         phone_num
0       9718642476
1       9811891928
2       9728762635
3       9899714425
4       9873577673
...            ...
199995  9122991724
199996  6307923693
199997  7398044276
199998  7887690809
199999  9694026962

[200000 rows x 1 columns]

In [204]:
df_contact.loc[:199999]

         phone_num
0       9718642476
1       9811891928
2       9728762635
3       9899714425
4       9873577673
...            ...
199995  9122991724
199996  6307923693
199997  7398044276
199998  7887690809
199999  9694026962

[200000 rows x 1 columns]

In [ ]:
import time

start = time.time()
import logging
from concurrent.futures import ThreadPoolExecutor
import json
import requests

import pickle
import csv 

from timer import timer

import requests
from bs4 import BeautifulSoup # BeautifulSoup is in bs4 package 
import pandas as pd
from tqdm import tqdm

# import urllib3
# http = urllib3.PoolManager(num_pools=50)

logging.basicConfig(filename="logs_file.log",
                    format='%(asctime)s %(message)s',
                    filemode='w')

logger = logging.getLogger()

cols_str = 'phone_num,source_1_telecoms_circle_state,source_1_sim_card_distributed_at,source_2_state,source_2_service_provider,source_2_city,source_2_latitude,source_2_longitude\n'


with open('results_.csv', 'a') as file: 
    file.write(cols_str)
    file.close()

print(10)

# API discription
URL = 'https://www.findandtrace.com/trace-mobile-number-location?mobilenumber={}&submit=Trace'
URL_2 = "https://mobilenumbertracker.com/mobilenumberlocation/{}"
# use mobile phone number have 10 digits
mobile_number = '9425820438'
submit = 'Trace'

df_phone_num = pd.read_csv('./contacts.csv', low_memory=False).loc[:199999]

phone_num_list = list(set(df_phone_num.phone_num.to_list()))
# phone_num_list = list(set([str(phone_num_)[2:] for phone_num_ in phone_num_list]))

session_len = len(phone_num_list)

fields = ['phone_num','telecoms_circle_state','sim_card_distributed_at']
counter_ = 0

def fetch(session, phone_num):
    print('here')
    with session.get(URL.format(phone_num)) as response:
        html = response.content.decode("utf-8")
        soup = BeautifulSoup(html, 'html.parser')
        tables = soup.find_all('table',{'class':'shop_table'})
        try:
            phone_num_ = tables[0].find_all('td')[0].text
        except:
            phone_num_ = phone_num
        try:
            telecoms_circle_state = tables[0].find_all('td')[1].text
        except:
            telecoms_circle_state = 'not_found'
        try:
            sim_card_distributed_at = tables[1].find_all('td')[0].text
            sim_card_distributed_at = (' / ').join(sim_card_distributed_at.split(', '))
        except:
            sim_card_distributed_at = 'not_found'

        resp = {
            'phone_num':phone_num_,
            'telecoms_circle_state':telecoms_circle_state,
            'sim_card_distributed_at':sim_card_distributed_at
        }
        str_ = str(phone_num_)+','+str(telecoms_circle_state)+','+str(sim_card_distributed_at)
        resp_str = str(resp)

    print('here')
    with session.get(URL_2.format(phone_num[:4])) as response_2:
        html = response_2.content.decode("utf-8")
        soup = BeautifulSoup(html, 'html.parser')
        props = soup.find_all('script',{'id':"__NEXT_DATA__"})[0].text

        json_object = json.loads(props)
        state = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('State','not_found')
        if state == '':
            state = 'not_found'
        service_provider = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('ServiceProvider','not_found')
        if service_provider == '':
            service_provider = 'not_found'
        city = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('City','not_found')
        if city == '':
            city = 'not_found'
        latitude = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('latitude','not_found')
        if latitude == '':
            latitude = 'not_found'
        longitude = json_object.get('props',{}).get('pageProps',{}).get('match',{}).get('longitude','not_found')
        if longitude == '':
            longitude = 'not_found'

        str_ = str_+','+str(state)+','+str(service_provider)+','+str(city)+','+str(latitude)+','+str(longitude)+'\n'
    logger.info(counter_+' th iteration ran successfully')
    counter_ = counter_ + 1
    try:
        with open('results_.csv', 'a') as file: 
            logger.error("something went wrong while saving record details")
            file.write(str_)
            file.close()
    except Exception as e:
        print(e)



# @timer(1, 5)s
# def main():

import pdb
pdb.set_trace()
with ThreadPoolExecutor(max_workers=10) as executor:
    print('here')
    with requests.Session() as session:
        executor.map(fetch, [session] * session_len, phone_num_list)
        executor.shutdown(wait=True)

# main()

end = time.time()

elapsed_time = end - start

print('Execution time:', elapsed_time, 'seconds')

In [21]:
df_phone_num = pd.read_csv('./contacts.csv', low_memory=False).loc[:599999]

In [24]:
df_res = pd.read_csv('./master_result1.csv', header=None)

In [31]:
phone_num = list(df_res[0].values)

In [34]:
# phone_num

In [44]:
df_phone_num.phone_num = df_phone_num.phone_num.astype(int)

In [43]:
df_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404515 entries, 0 to 404514
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       404515 non-null  int64
 1   1       404515 non-null  object
 2   2       404485 non-null  object
 3   3       404515 non-null  object
 4   4       404515 non-null  object
 5   5       404515 non-null  object
 6   6       404515 non-null  object
 7   7       404515 non-null  object
dtypes: int64(1), object(7)
memory usage: 24.7+ MB

In [50]:
df_phone_num[~df_phone_num.phone_num.isin(df_res[0])].to_csv('./left_contacts_batch_1.csv', index=False)

In [51]:
df = pd.read_csv('./left_contacts_batch_1.csv')

In [52]:
df

         phone_num
0       9811891928
1       9728762635
2       9811075564
3       9306216247
4       8053376553
...            ...
195480  8700267608
195481  7549574001
195482  7564806236
195483  9893469317
195484  9528165428

[195485 rows x 1 columns]

In [45]:
phone_left = list(set(df_phone_num.phone_num.unique()) - set(phone_num))

In [ ]:
df

In [46]:
len(phone_left)

195485

In [32]:
df_phone_num[df_phone_num['phone_num'].isin(phone_num)]

Empty DataFrame
Columns: [phone_num]
Index: []

In [20]:
df_phone_num.loc[390722]

phone_num    8529825781
Name: 390722, dtype: object

In [1]:
import pandas as pd

In [6]:
df1 = pd.read_csv('./master_result1.csv', low_memory=True)
df2 = pd.read_csv('./master_result2.csv', low_memory=True)
df3 = pd.read_csv('./master_result3.csv', low_memory=True)

/var/folders/y6/7cg84vqd0slfhn_v_dwj8vgr0000gn/T/ipykernel_1133/3201544218.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('./master_result2.csv', low_memory=True)

In [7]:
df1

,phone_num,source_1_telecoms_circle_state,source_1_sim_card_distributed_at,source_2_state,source_2_service_provider,source_2_city,source_2_latitude,source_2_longitude
0,7696727644,Punjab,Ludhiana / Amritsar / Jalandhar / Patiala / Ba...,Punjab,Tata DoCoMo,Amritsar,31.63089,74.871552
1,6239608673,not_found,not_found,not_found,not_found,not_found,not_found,not_found
2,8053381048,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Vodafone India,Chandigarh,30.731345,76.775385
3,7027730172,not_found,not_found,Haryana,Vodafone India,not_found,20.593684,78.96288
4,9784546212,Rajasthan,Jaipur / Jodhpur / Kota / Bikaner / Ajmer / Ud...,Tamil Nadu,Airtel India,Jaipur,26.917,75.817
...,...,...,...,...,...,...,...,...
404510,9914659451,Punjab,Ludhiana / Amritsar / Jalandhar / Patiala / Ba...,Punjab,not_found,Amritsar,31.63089,74.871552
404511,9756954607,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),not_found,Agra,27.19,78.01
404512,8570074049,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Airtel India,not_found,20.593684,78.96288
404513,9759047712,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),Vodafone India,Agra,27.19,78.01
404514,8168629648,not_found,not_found,Haryana,Reliance Jio,not_found,20.593684,78.96288

In [8]:
df2

,phone_num,source_1_telecoms_circle_state,source_1_sim_card_distributed_at,source_2_state,source_2_service_provider,source_2_city,source_2_latitude,source_2_longitude
0,7549988388,Bihar And Jharkhand,CHENNAI,Bihar & Jharkhand,Vodafone India,Patna,25.6125,85.1283333
1,7689000500,not_found,not_found,not_found,not_found,not_found,not_found,not_found
2,8709831166,not_found,not_found,Bihar & Jharkhand,Reliance Jio,not_found,20.593684,78.96288
3,9682128214,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),not_found,not_found,20.593684,78.96288
4,9935786500,Uttar Pradesh (E),Kanpur / Lucknow / Varanasi / Allahabad / Faru...,UP (East),Airtel India,Allahabad,25.44254,81.829866
...,...,...,...,...,...,...,...,...
447417,8788172301,not_found,not_found,Maharashtra & Goa,Reliance Jio,not_found,20.593684,78.96288
447418,7068301735,not_found,not_found,UP (East),not_found,not_found,20.593684,78.96288
447419,9997867810,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),Airtel India,Agra,27.19,78.01
447420,6299747269,not_found,not_found,not_found,not_found,not_found,not_found,not_found
447421,8374963956,Andhra Pradesh,Hyderabad / Visakhapatnam / Vijayawada / Waran...,Andhra Pradesh & Telangana,Airtel India,not_found,20.593684,78.96288

In [9]:
df3

,phone_num,source_1_telecoms_circle_state,source_1_sim_card_distributed_at,source_2_state,source_2_service_provider,source_2_city,source_2_latitude,source_2_longitude
0,7830765641,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),Vodafone India,Meerut,20.593684,78.96288
1,8882487296,Delhi,New Delhi / Kirari Suleman Nagar / Karawal Nagar,Delhi,Reliance Mobile GSM,Delhi,28.635308,77.22496
2,8395948112,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,UP (West),Vodafone India,not_found,20.593684,78.96288
3,9557246012,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),Airtel India,Allahabad,25.44254,81.829866
4,8307867688,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),Reliance Mobile GSM,not_found,20.593684,78.96288
...,...,...,...,...,...,...,...,...
195472,7227834232,not_found,not_found,not_found,not_found,not_found,not_found,not_found
195473,8450998188,Mumbai,MUMBAI,not_found,not_found,not_found,not_found,not_found
195474,9793175244,Uttar Pradesh (E),Kanpur / Lucknow / Varanasi / Allahabad / Faru...,UP (East),Airtel India,Allahabad,25.44254,81.829866
195475,8708423649,not_found,not_found,Haryana,Reliance Jio,not_found,20.593684,78.96288
195476,9116319723,Rajasthan,Jaipur / Jodhpur / Kota / Bikaner / Ajmer / Ud...,Rajasthan,Airtel India,Jaipur,26.917,75.817

In [11]:
df_res = pd.concat([df1, df2, df3], axis=0)

In [16]:
df_res.phone_num

0         7696727644
1         6239608673
2         8053381048
3         7027730172
4         9784546212
             ...
195472    7227834232
195473    8450998188
195474    9793175244
195475    8708423649
195476    9116319723
Name: phone_num, Length: 1047414, dtype: object

In [14]:
df_res.to_csv('./full_dump.csv', index=False)

In [5]:
df

,0,1,2,3,4,5,6,7
0,7696727644,Punjab,Ludhiana / Amritsar / Jalandhar / Patiala / Ba...,Punjab,Tata DoCoMo,Amritsar,31.63089,74.871552
1,6239608673,not_found,not_found,not_found,not_found,not_found,not_found,not_found
2,8053381048,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Vodafone India,Chandigarh,30.731345,76.775385
3,7027730172,not_found,not_found,Haryana,Vodafone India,not_found,20.593684,78.96288
4,9784546212,Rajasthan,Jaipur / Jodhpur / Kota / Bikaner / Ajmer / Ud...,Tamil Nadu,Airtel India,Jaipur,26.917,75.817
...,...,...,...,...,...,...,...,...
404510,9914659451,Punjab,Ludhiana / Amritsar / Jalandhar / Patiala / Ba...,Punjab,not_found,Amritsar,31.63089,74.871552
404511,9756954607,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),not_found,Agra,27.19,78.01
404512,8570074049,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Airtel India,not_found,20.593684,78.96288
404513,9759047712,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,UP (West),Vodafone India,Agra,27.19,78.01
404514,8168629648,not_found,not_found,Haryana,Reliance Jio,not_found,20.593684,78.96288

In [9]:
df_1 = pd.read_csv('./results_1.csv', low_memory=True, header=None)

In [10]:
df_1

,0,1,2,3,4,5,6,7
0,8219744353,not_found,not_found,Himachal Pradesh,Reliance Jio,not_found,20.593684,78.96288
1,9754613922,Madhya Pradesh And Chhatisgarh,Indore / Bhopal / Jabalpur / Gwalior / Ujjain ...,Madhya Pradesh & Chhattisgarh,not_found,Bhopal,23.257309,77.402218
2,7505770542,Uttar Pradesh (E),Kanpur / Lucknow / Varanasi / Allahabad / Faru...,UP (East),Reliance Mobile GSM,Banaras,20.593684,78.96288
3,7488629763,Bihar And Jharkhand,CHENNAI,Bihar & Jharkhand,Reliance Jio,Patna,25.6125,85.1283333
4,9996701307,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Airtel India,Chandigarh,30.731345,76.775385
...,...,...,...,...,...,...,...,...
198557,9896498141,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Airtel India,Chandigarh,30.731345,76.775385
198558,8571080506,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Airtel India,not_found,20.593684,78.96288
198559,6367054991,not_found,not_found,not_found,not_found,not_found,not_found,not_found
198560,9319108755,Uttar Pradesh (W) And Uttarakhand,Agra / Ghaziabad / Noida / Dehradun,Delhi,Airtel India,Agra,27.19,78.01
198561,7629055419,not_found,not_found,not_found,not_found,not_found,not_found,not_found

In [12]:
cols = df.columns

In [13]:
cols

Index(['phone_num', 'source_1_telecoms_circle_state',
       'source_1_sim_card_distributed_at', 'source_2_state',
       'source_2_service_provider', 'source_2_city', 'source_2_latitude',
       'source_2_longitude'],
      dtype='object')

In [14]:
df_1.columns = cols

In [16]:
pd.concat([df, df_1], axis=0).to_csv('./findandtrace_4l_contacts.csv', index=False)

In [17]:
for col in cols:
    print(col,':STRING,')

phone_num :STRING,
source_1_telecoms_circle_state :STRING,
source_1_sim_card_distributed_at :STRING,
source_2_state :STRING,
source_2_service_provider :STRING,
source_2_city :STRING,
source_2_latitude :STRING,
source_2_longitude :STRING,

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('./data_addition_ao_3_may_validate.csv', header = None)

In [15]:
df_1 = pd.read_csv('./data_addition_ao_3_may.csv', header=None)
df_2 = pd.read_csv('./data_addition_ao_3_may_1.csv', header=None)
df_3 = pd.read_csv('./data_addition_ao_3_may_2.csv', header=None)
df_4 = pd.read_csv('./data_addition_ao_3_may_3.csv', header=None)
df_5 = pd.read_csv('./data_addition_ao_3_may_4.csv', header=None)
df_6 = pd.read_csv('./data_addition_ao_3_may_5.csv', header=None)
df_7 = pd.read_csv('./data_addition_ao_3_may_6.csv', header=None)

df_final = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7])

In [16]:
# df_final = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6])

In [8]:
cols_str = ['phone_num','source_1_telecoms_circle_state','source_1_sim_card_distributed_at','source_2_state','source_2_service_provider','source_2_city','source_2_latitude','source_2_longitude']

In [9]:
df.columns = cols_str

In [11]:
df

,phone_num,source_1_telecoms_circle_state,source_1_sim_card_distributed_at,source_2_state,source_2_service_provider,source_2_city,source_2_latitude,source_2_longitude
0,9416212499,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,BSNL Mobile,Chandigarh,30.731345,76.775385
1,9792127061,Uttar Pradesh (E),Kanpur / Lucknow / Varanasi / Allahabad / Faru...,UP (East),Vodafone India,Allahabad,25.44254,81.829866
2,7982285050,not_found,not_found,Delhi,Reliance Jio,not_found,20.593684,78.96288
3,9050783943,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Vodafone India,Chandigarh,30.731345,76.775385
4,7015497846,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Reliance Jio,Chandigarh,30.731345,76.775385
...,...,...,...,...,...,...,...,...
198007,9896984565,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Haryana,Airtel India,Chandigarh,30.731345,76.775385
198008,9928966123,Rajasthan,Jaipur / Jodhpur / Kota / Bikaner / Ajmer / Ud...,Rajasthan,Airtel India,Jaipur,26.917,75.817
198009,7357333464,Haryana,Faridabad / Rohtak / Panipat / Hisar / Sonipat...,Rajasthan,Airtel India,not_found,20.593684,78.96288
198010,8728870907,Punjab,Ludhiana / Amritsar / Jalandhar / Patiala / Ba...,Punjab,not_found,not_found,20.593684,78.96288
198011,9306636250,Jammu And Kashmir,Srinagar / Jammu,Haryana,Reliance Jio,Jammu,32.709743,74.851969

In [13]:
df.to_csv('./data_addition_ao_3_may_validate.csv', index=False)

In [21]:
df_final.drop_duplicates(inplace=True)